/*overall design of the app and it's positioning*/
.App{
  background: linear-gradient(#4f9b2c, #a8e063);
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
/*Designs the header portion of the app, including color and positioning*/
.header {
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid rgb(28, 121, 19);
  display:flex;
  align-items:center;
  padding: 0 1rem; 
  background-image: url('https://freedesignfile.com/upload/2016/12/Green-leaf-banner-HD-pictures.jpg');
  /* background: rgb(51, 51, 88, 0.50); */
}
/*Positioning and size of logo*/
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background: url("https://i.imgur.com/QsVdXvw.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid black;
}
/*Title "LetsChat", changed its color, size, and position*/
.title {
  color:rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  max-height: calc(100vh - 4rem - 4rem);
  min-height: calc(100vh - 4rem - 4rem);
  padding: 1rem 0;
}

.message {
  color: white;
  background: rgb(9, 170, 9);
  padding: 0.5rem 1.5rem;
  margin: 0.3rem;
  border-radius: 5rem 0 5rem 0 ;
  border: 0.1px dashed black;
}